<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      {% if page.content.size > 0 %}
      <div class="rte">
        {{ page.content }}
      </div>
      {% endif %}

      <div class="contact-form form-vertical">
        {%- assign formId = 'ContactForm' -%}
        {% form 'contact', id: formId %}
        {% include 'form-status', form: form, form_id: formId %}

        <h1 class="h2">Hier kannst du uns Infos über dich und dein Projekt geben, wir melden und unverzüglich zurück</h1>

        <div class="grid grid--half-gutters">
          <div class="grid__item medium-up--one-half">
            <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="{{ formId }}-name" aria-required="true" name="contact[{{ 'contact.form.name' | t }}]"
              value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          <div class="grid__item medium-up--one-half">
            <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
            <input type="email" id="{{ formId }}-email" name="contact[email]" autocorrect="off" autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true" {%- if form.errors contains 'email' -%} class="input--error" aria-invalid="true"
              aria-describedby="{{ formId }}-email-error" {%- endif -%}>
            {%- if form.errors contains 'email' -%}
            <span id="{{ formId}}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email']
                }}.</span>
            </span>
            {%- endif -%}
          </div>
        </div>

        <div class="grid grid--half-gutters">
          <div class="grid__item medium-up--one-half">
            <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }} *</label>
            <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]"
              aria-required="true" pattern="[0-9\-]*"
              value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          </div>

          <div class="grid__item medium-up--one-half">
            <label for="ort">Ort</label>
            <input type="text" id="ort" name="contact[ortsname]">
          </div>
        </div>

        <label for="website-url">Webseiten-URL</label>
        <input type="text" id="website-url" name="contact[website]">

        <div class="grid grid--half-gutters">
          <div class="grid__item medium-up--one-third">
            <label for="instagram">Instagram</label>
            <input type="text" id="instagram" name="contact[instagram]">
          </div>

          <div class="grid__item medium-up--one-third">
            <label for="facebook">Facebook</label>
            <input type="text" id="facebook" name="contact[facebook]">
          </div>

          <div class="grid__item medium-up--one-third">
            <label for="linkedin">LinkedIn</label>
            <input type="text" id="linkedin" name="contact[LinkedIn]">
          </div>
        </div>


        <label for="taetigkeit">Ich bin</label>
        <select id="taetigkeit" type="text" name="contact[Ich bin]">
          <option value="keine Angabe">keine Angabe</option>
          <option value="Freelancer">Freelancer</option>
          <option value="Kleinunternehmer">Kleinunternehmer</option>
          <option value="Mittelständisches Unternehmen">Mittelständisches Unternehmen</option>
          <option value="Großes und Größer">Großes und Größer</option>
        </select>


        <label>Ich interessiere mich für:</label>
        <div class="checkbox-sektion grid grid--half-gutters">
          <div class="grid__item medium-up--one-half">
            <input type="checkbox" name="contact[Ich interessiere mich für Webseite]" id="webseite"><label for="webseite">Webseite</label><br>
            <input type="checkbox" name="contact[Ich interessiere mich für Shopsystem]" id="shopsystem"><label for="shopsystem">Shopsystem</label><br>
            <input type="checkbox" name="contact[Ich interessiere mich für Design]" id="design"><label for="design">Design</label><br>
            <input type="checkbox" name="contact[Ich interessiere mich für Ads]" id="ads"><label for="ads">Ads</label><br>
          </div>
          <div class="grid__item medium-up--one-half">
            <input type="checkbox" name="contact[Ich interessiere mich für Social Media]" id="socialmedia"><label for="socialmedia">Social Media</label><br>
            <input type="checkbox" name="contact[Ich interessiere mich für SEO]" id="seo"><label for="seo">SEO</label><br>
            <input type="checkbox" name="contact[Ich interessiere mich für Sonstiges]" id="sonstiges"><label for="sonstiges">Sonstiges</label><br>
          </div>
        </div>

        <label for="budget">Wie hoch ist ihr jährliches Marketing-Budget?</label>
        <select id="budget" type="text" name="contact[Wie hoch ist ihr jährliches Budget?]">
          <option value="weniger als 5.000€">weniger als 5.000€</option>
          <option value="5.000€ - 10.000€">5.000€ - 10.000€</option>
          <option value="50.000€ - 20.000€">50.000€ - 20.000€</option>
          <option value="200.000€ und mehr">200.000€ und mehr</option>
        </select>

        <label for="geschaeftsmodell">Was ist ihr Geschäftsmodell/ ihre Dienstleistung?</label>
        <input type="text" id="geschaeftsmodell" name="contact[Was ist ihr Geschäftsmodell/ ihre Dienstleistung?]">

        <label for="budget-geplant">Wie viel haben sie für die Umsetzung des Projektes mit dem sie sich an uns wenden
          eingeplant?</label>
        <select id="budget-geplant" type="text" name="contact[Wie viel Budget habe sie eingeplant?]">
          <option value="unter 1.000€">unter 1.000€</option>
          <option value="1.000€ - 5.000€">1.000€ - 5.000€</option>
          <option value="5.000€ - 20.000€">5.000€ - 20.000€</option>
          <option value="20.000€ bis 100.000€">20.000€ bis 100.000€</option>
        </select>

        <label for="herausforderung">Wo sehen sie die größte Herausforderung beim bevorstehenden Projekt?</label>
        <input type="text" id="herausforderung" name="contact[Wo sehen sie die größte Herausforderung]">

        <label>Wie können wir sie am besten erreichen?</label>
        <div class="checkbox-sektion grid grid--half-gutters">
          <div class="grid__item medium-up--one-half">
            <input type="checkbox" name="contact[Am besten erreichbar per Telefon]" id="telefon"><label for="telefon">Telefon</label><br>
            <input type="checkbox" name="contact[Am besten erreichbar per Mail]" id="mail"><label for="mail">Mail</label><br>
            <input type="checkbox" name="contact[Am besten erreichbar per Skype]" id="skype"><label for="skype">Skype</label><br>
          </div>
          <div class="grid__item medium-up--one-half">
            <input type="checkbox" name="contact[Am besten erreichbar per Zoom]" id="zoom"><label for="zoom">Zoom</label><br>
            <input type="checkbox" name="contact[Am besten erreichbar per Google Meet]" id="googlemeet"><label for="googlemeet">Google Meet</label><br>
            <input type="checkbox" name="contact[Am besten erreichbar per WhatsApp]" id="whatsapp"><label for="whatsapp">WhatsApp</label><br>
          </div>
        </div>

        <label for="{{ formId }}-message">Nachricht an uns</label>
        <textarea rows="10" id="{{ formId }}-message"
          name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

        <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

        {% endform %}
      </div>
    </div>
  </div>
</div>